# FastAPI e dependências principais
fastapi==0.95.0
uvicorn==0.22.0
pydantic==1.10.7
pydantic-settings==0.2.5  # Versão compatível com pydantic 1.x
starlette<0.27.0,>=0.26.1
python-dotenv==1.0.0
sqlalchemy==2.0.12
psycopg2-binary==2.9.6
alembic==1.10.4
email-validator==2.0.0.post2
httpx<0.24.0,>=0.23.0
asyncpg==0.27.0

# Segurança
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.0.1
cryptography==40.0.2
pyotp==2.8.0
qrcode==7.4.2
Pillow==10.0.0  # Necessário para o qrcode
argon2-cffi==21.3.0
pynacl==1.5.0
itsdangerous==2.1.2
authlib==1.2.0
certifi==2023.5.7
secure==0.3.0

# Serviços de armazenamento e banco de dados
supabase==1.0.3
boto3==1.26.131
redis==4.5.5

# Processamento
python-decouple==3.8
pyjwt==2.7.0
orjson==3.8.12
ujson==5.7.0

# Middlewares e plugins
python-multipart==0.0.6
slowapi==0.1.7
starlette-exporter==0.15.1
starlette-context==0.3.6
